.c-font {
  color: #000000 !important;
}
.bgc-font {
  background-color: #000000 !important;
}
.bdc-font {
  border-color: #000000 !important;
}
.c-main {
  color: #3399cc !important;
}
.bgc-main {
  background-color: #3399cc !important;
}
.bdc-main {
  border-color: #3399cc !important;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  border: none;
  color: #000000;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
@media (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
  a[href^="tel:"]:hover {
    cursor: default;
  }
}
input[type="submit"],
input[type="button"] {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
}
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
  display: none;
}
input[type="submit"]:focus,
input[type="button"]:focus {
  outline-offset: -2px;
}
@media screen and (min-width: 751px) {
  .pc {
    display: block !important;
  }
}
@media screen and (max-width: 750px) {
  .pc {
    display: none !important;
  }
}
@media screen and (min-width: 751px) {
  .sp {
    display: none !important;
  }
}
@media screen and (max-width: 750px) {
  .sp {
    display: block !important;
  }
}
body {
  font-size: 16px;
  color: #000000;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #fff;
  box-sizing: border-box;
  width: 100%;
}
a {
  color: #000000;
}
img {
  display: block;
  width: 100%;
  max-width: 100%;
}
p {
  line-height: 1.6;
}
q:after {
	content: none;
}
.bg-color {
	background: #f9f9f9;
	padding: 30px 0 33px;
}
.comparison__wrapper {
	margin-top: 23px;
	overflow: auto;
	max-width: 1000px;
}
.comparison__content {
	width: 160%;
}
.comparison-table {
	width: 100%;
}

.comparison-table__name {
	text-align: center;
	border-radius: 12px;
	border: 6px solid #f9f9f9;
	vertical-align: middle;
	padding: 35px 4px;
	line-height: 1.2;
	color: #fff;
}

.comparison-table__name {
	background: #3399cc;
	font-weight: 700;
	width: 15%;
		font-size: 1.3125rem;
}
.comparison-table__data {
	text-align: center;
	border-radius: 12px;
	border: 6px solid #f9f9f9;
	vertical-align: middle;
	padding: 35px 4px;
	line-height: 1.2;
	color: #898989;
}

.comparison-table__data {
	background: #fff;
	width: 35%;
	padding: 2em;
	
}

.comparison-table__data-inner {
	text-align: center;
	display: inline-block;
	color: #3399cc;
	font-weight: 700;
	margin-bottom: 1em;
}
.comparison-table__data-inner2 {
	text-align: center;
	display: inline-block;
	font-weight: 700;
}

.comparison-table__eco {
	background: #fff;
	color: #3399cc;
	font-size: 1.3125rem;
	font-weight: 700;
	width: 35%;
}

.comparison-table__company .comparison-table__data {
	padding: 12px 4px;
}

.comparison-table__support .comparison-table__eco {
	padding: 22px 4px;
	font-size: 1rem;
}

@media screen and (max-width: 750px) {
.comparison__wrapper {
	margin-top: 32px;
}
.comparison__content {
	width: 100%;
}
	.comparison-table__name {
	font-size: 1.25rem;
	width: 15%;
}

.comparison-table__data {
	font-size: 1.125rem;
		width: 10%;
	padding: 2em;
}

.comparison-table__eco {
	width: 15%;
}

.comparison-table__support .comparison-table__dayone {
	font-size: 1.25rem;
}
	.vertical {
        writing-mode: vertical-rl;
    }
}









.tokusyo-table {
	width: 100%;
}

.tokusyo-table__name,
.tokusyo-table__data {
	text-align: left;
	vertical-align: middle;
	padding: 10px;
	line-height: 1.2;
}

.tokusyo-table__name {
	font-weight: 700;
	width: 10%;
    color: #3399cc;
}

.tokusyo-table__data {
	width: 30%;
}

.tokusyo-table__data-inner {
	text-align: left;
	display: inline-block;
}

.tokusyo-table__eco {
	color: #626262;
	font-size: 1rem;
	font-weight: 500;
	width: 27%;
}

.tokusyo-table__company .tokusyo-table__data {
	padding: 12px 4px;
}

.tokusyo__wrapper {
	margin-top: 23px;
	overflow: auto;
	max-width: 1000px;
}

.tokusyo__content {
	width: 100%;  
	    text-align: left;
    vertical-align: middle;
}
.privacy__wrapper {
	margin-top: 23px;
	overflow: auto;
	max-width: 1000px;
}

.privacy__content {
	width: 100%;  
	    text-align: left;
    vertical-align: middle;
}
.title_main {
	font-size: 1.875rem;
	font-weight: 700;
	text-align: center;
	line-height: 1.5;
}
.layout {
	max-width: 924px;
	width: 92%;
	margin-left: auto;
	margin-right: auto;
}

.footer {
  width: 100%;
  background: #1d374b;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}
.footer a {
  font-size: 14px;
  color: #fff;
  text-decoration: underline;
}
.footer a:hover {
  text-decoration: none;
}
.footer__text {
  font-size: 12px;
  margin-top: 5px;
}
.header {
  width: 100%;
  height: 116px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  background: #fff;
  z-index: 2;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}
.header__logo {
  width: auto;
}
.header__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__flex img {
  width: auto;
}

/* ここからmap **************/
.yellow{
  color: #f1f419 !important;
}
.map{
  position: relative;
  color: #ffffff;
}
.map h2{
  position: absolute;
  top: 10.38%;
  left: 32.35%;
  font-size: 5.277vw;
  line-height: 1.1;
}
.map h2 span.yellow{
  font-size: 6.66vw;
}
.map h3{
  position: absolute;
  top: 46.46%;
  left: 32.35%;
  font-size: 3.7vw;
  
}
.map h3 span{
  font-size: 3.3vw;
}
.map p{
  position: absolute;
  top: 59.88%;
  left: 32.35%;
  font-size: 3.18vw;
  font-feature-settings: "halt";
  line-height: 1.4;
  font-weight: bold;
}
@media screen and (min-width: 1080px) {
  .map h2{
    font-size: 57.6px;
  }
  .map h2 span.yellow{
    font-size: 72px;
  }
  .map h3{
    font-size: 40px;
  }
  .map h3 span{
    font-size: 36px;
  }
  .map  p{
    font-size: 34.38px;
  }

}
@media screen and (max-width: 750px) {
  .map h2{
    top: 12.15%;
    left: 35.73%;
    font-size: 8.45vw;
    line-height: 1.1;
  }
  .map h2 span.yellow{
    font-size: 8.45vw;
  }
  .map h2 span.sp-min{
    font-size: 5.73vw;
  }
  .map h3{
    top: 55.2%;
    left: 5.7%;
    font-size: 5.23vw;
  }
  .map h3 span{
    font-size: 4.77vw;
  }
  .map p{
    top: 64.9%;
    left: 5.7%;
    font-size: 4.55vw;
    line-height: 1.4;
  }
}
/* ここまでmap **************/

/* ここからachievement **************/

.achievement{
  position: relative;
}
.achievement ul{
  position: absolute;
  top: 23.38%;
  left: 50%;
  display: flex;
  flex-wrap: wrap;
  width: 83.8vw;
  justify-content: space-between;
  list-style: none;
  transform: translateX(-50%);

}
.achievement ul li{
  width: 32.37%;
  padding: 2.26% 0;
  text-align: center;
  border: 1px solid #666666;
  margin: 1% 0;
}
.achievement ul li h2{
  width: 85.3%;
  margin: 0 auto;
}
.achievement ul li h2 img{
  width: 100%;
  height: auto;
}
.achievement ul li h3{
  font-size: 2vw;
  color: #3399cc;
  margin: 5% 0 2%;
}
.achievement ul li p{
  color:#242d36;
  font-size: 1.5vw;
  font-weight: bold;
}
@media screen and (min-width: 1080px) {

  .achievement ul{
    width: 905px;
  }
 

  .achievement ul li h3{
    font-size: 21.6px;
  }
  .achievement ul li p{
    font-size: 16.2px;
  }

}
@media screen and (max-width: 750px) {
  .achievement ul{
    top: 14.38%;
    width: 90.6vw;
    text-align: center;
    justify-content: space-around;
  }
  .achievement ul li{
    width: 48%;
    padding: 3.5% 0;
    margin: 1% 0 ;
  }
  .achievement ul li h2{
    width: 86.37%;
  }
  .achievement ul li h3{
    font-size: 3.73vw;
    margin: 6% 0 2%;
  }
  .achievement ul li p{
    font-size: 2.66vw;
  }
}

/* ここまでachievement **************/
@media screen and (max-width: 750px) {
  .header {
    padding: 0 0 0 20px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
  }
  .header__logo {
    width: 108px;
  }
  .header__tel {
    width: 68px !important;
    position: absolute;
    top: 0;
    right: 65px;
  }
  .header__contact {
    width: 68px !important;
    position: absolute;
    top: 0;
    right: 0;
  }
}
.main {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}
.kv {
  margin-top: -116px;
}
@media screen and (max-width: 750px) {
  .kv {
    margin-top: 8px;
  }
}
.cv {
  background-image: url(../images/bg1.png);
  background-size: cover;
  padding: 50px 0;
}
.cv__tit {
  max-width: 777px;
  margin: 0 auto;
}
.cv__btn {
  max-width: 733px;
  margin: 30px auto 0 auto;
  position: relative;
  left: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.cv__btn:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}
@media screen and (max-width: 750px) {
  .cv {
    padding: 30px 0;
  }
  .cv__tit {
    max-width: 334px;
  }
  .cv__btn {
    max-width: 340px;
    left: 4px;
    margin-top: 20px;
  }
}
.cta__tit {
  max-width: 901px;
  width: 80%;
  margin: 50px auto 20px auto;
}
.cta__box {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 971px;
  margin: 0 auto;
  width: 90%;
}
.cta__img {
  max-width: 90%;
  margin: 0 auto;
}
.cta__textbox {
  position: absolute;
}
.cta__btn {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  max-width: 90%;
  margin: 30px auto 0 auto;
}
.cta__btn:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}
@media screen and (max-width: 750px) {
  .cta__btn {
    margin: 20px auto 0 auto;
  }
  .cta__tit {
    margin-top: 30px;
  }
}
.contact__box {
  background: #f1f1f1;
  border-radius: 18px;
  max-width: 971px;
  margin: 20px auto;
  padding: 50px 0;
  width: 90%;
}
.contact__tit {
  max-width: 860px;
  margin: 0 auto;
  width: 90%;
}
.contact__btn {
  max-width: 812px;
  margin: 30px auto 10px auto;
  width: 90%;
}
.contact__btn:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}
.contact__text {
  font-weight: bold;
  text-align: center;
  font-size: 43px;
  line-height: 1;
}
.contact__text span {
  font-size: 24px;
  line-height: 1;
}
@media screen and (max-width: 750px) {
  .contact__box {
    padding: 20px 0;
  }
  .contact__btn {
    margin: 10px auto;
  }
  .contact__text {
    font-size: 20px;
  }
  .contact__text span {
    font-size: 10px;
  }
}
.faq {
  padding: 50px 0;
}
.faq__tit {
  width: 80%;
  max-width: 390px;
  margin: 0 auto 50px auto;
}
.faq__item {
  background: #3399cc;
  margin-top: 30px;
}
.faq__item:hover {
  cursor: pointer;
}
.faq__icon {
  width: 25px;
  position: absolute;
  right: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.faq__icon.active {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotateZ(45deg);
  -ms-transform: rotate(45deg);
  transform: rotateZ(45deg);
}
.faq__q {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.025em;
}
.faq__q span {
  color: #cdb99c;
  margin-right: 5px;
}
.faq__a {
  padding: 20px;
  background: #f9f9f9;
  font-size: 21px;
  line-height: 1.6;
  letter-spacing: 0.025em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.faq__a span {
  color: #3399cc;
  margin-right: 10px;
}
.faq .js-ac-target {
  display: none;
}
@media screen and (max-width: 750px) {
  .faq {
    padding: 50px 0 10px 0;
  }
  .faq__tit {
    max-width: 243px;
    margin: 0 auto 30px auto;
  }
  .faq__item {
    width: 90%;
    margin: 20px auto;
  }
  .faq__icon {
    right: 10px;
    width: 20px;
  }
  .faq__q {
    font-size: 16px;
    padding: 20px 40px 20px 10px;
    line-height: 1.3;
  }
  .faq__a {
    font-size: 15px;
    padding: 20px 10px;
  }
}
.float {
  -webkit-animation: float_2979 3s linear infinite;
  animation: float_2979 3s linear infinite;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
@-webkit-keyframes float_2979 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  33.33333% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  66.66667% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes float_2979 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  33.33333% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  66.66667% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.m-10px {
  margin: 10px !important;
}
.mt-10px {
  margin-top: 10px !important;
}
.mr-10px {
  margin-right: 10px !important;
}
.mb-10px {
  margin-bottom: 10px !important;
}
.ml-10px {
  margin-left: 10px !important;
}
.mx-10px {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.my-10px {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.p-10px {
  padding: 10px !important;
}
.pt-10px {
  padding-top: 10px !important;
}
.pr-10px {
  padding-right: 10px !important;
}
.pb-10px {
  padding-bottom: 10px !important;
}
.pl-10px {
  padding-left: 10px !important;
}
.px-10px {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.py-10px {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.m-15px {
  margin: 15px !important;
}
.mt-15px {
  margin-top: 15px !important;
}
.mr-15px {
  margin-right: 15px !important;
}
.mb-15px {
  margin-bottom: 15px !important;
}
.ml-15px {
  margin-left: 15px !important;
}
.mx-15px {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.my-15px {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.p-15px {
  padding: 15px !important;
}
.pt-15px {
  padding-top: 15px !important;
}
.pr-15px {
  padding-right: 15px !important;
}
.pb-15px {
  padding-bottom: 15px !important;
}
.pl-15px {
  padding-left: 15px !important;
}
.px-15px {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.py-15px {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.m-20px {
  margin: 20px !important;
}
.mt-20px {
  margin-top: 20px !important;
}
.mr-20px {
  margin-right: 20px !important;
}
.mb-20px {
  margin-bottom: 20px !important;
}
.ml-20px {
  margin-left: 20px !important;
}
.mx-20px {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.my-20px {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.p-20px {
  padding: 20px !important;
}
.pt-20px {
  padding-top: 20px !important;
}
.pr-20px {
  padding-right: 20px !important;
}
.pb-20px {
  padding-bottom: 20px !important;
}
.pl-20px {
  padding-left: 20px !important;
}
.px-20px {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.py-20px {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.m-25px {
  margin: 25px !important;
}
.mt-25px {
  margin-top: 25px !important;
}
.mr-25px {
  margin-right: 25px !important;
}
.mb-25px {
  margin-bottom: 25px !important;
}
.ml-25px {
  margin-left: 25px !important;
}
.mx-25px {
  margin-left: 25px !important;
  margin-right: 25px !important;
}
.my-25px {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}
.p-25px {
  padding: 25px !important;
}
.pt-25px {
  padding-top: 25px !important;
}
.pr-25px {
  padding-right: 25px !important;
}
.pb-25px {
  padding-bottom: 25px !important;
}
.pl-25px {
  padding-left: 25px !important;
}
.px-25px {
  padding-left: 25px !important;
  padding-right: 25px !important;
}
.py-25px {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
.m-30px {
  margin: 30px !important;
}
.mt-30px {
  margin-top: 30px !important;
}
.mr-30px {
  margin-right: 30px !important;
}
.mb-30px {
  margin-bottom: 30px !important;
}
.ml-30px {
  margin-left: 30px !important;
}
.mx-30px {
  margin-left: 30px !important;
  margin-right: 30px !important;
}
.my-30px {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.p-30px {
  padding: 30px !important;
}
.pt-30px {
  padding-top: 30px !important;
}
.pr-30px {
  padding-right: 30px !important;
}
.pb-30px {
  padding-bottom: 30px !important;
}
.pl-30px {
  padding-left: 30px !important;
}
.px-30px {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.py-30px {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.m-35px {
  margin: 35px !important;
}
.mt-35px {
  margin-top: 35px !important;
}
.mr-35px {
  margin-right: 35px !important;
}
.mb-35px {
  margin-bottom: 35px !important;
}
.ml-35px {
  margin-left: 35px !important;
}
.mx-35px {
  margin-left: 35px !important;
  margin-right: 35px !important;
}
.my-35px {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}
.p-35px {
  padding: 35px !important;
}
.pt-35px {
  padding-top: 35px !important;
}
.pr-35px {
  padding-right: 35px !important;
}
.pb-35px {
  padding-bottom: 35px !important;
}
.pl-35px {
  padding-left: 35px !important;
}
.px-35px {
  padding-left: 35px !important;
  padding-right: 35px !important;
}
.py-35px {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}
.m-40px {
  margin: 40px !important;
}
.mt-40px {
  margin-top: 40px !important;
}
.mr-40px {
  margin-right: 40px !important;
}
.mb-40px {
  margin-bottom: 40px !important;
}
.ml-40px {
  margin-left: 40px !important;
}
.mx-40px {
  margin-left: 40px !important;
  margin-right: 40px !important;
}
.my-40px {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.p-40px {
  padding: 40px !important;
}
.pt-40px {
  padding-top: 40px !important;
}
.pr-40px {
  padding-right: 40px !important;
}
.pb-40px {
  padding-bottom: 40px !important;
}
.pl-40px {
  padding-left: 40px !important;
}
.px-40px {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
.py-40px {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.m-45px {
  margin: 45px !important;
}
.mt-45px {
  margin-top: 45px !important;
}
.mr-45px {
  margin-right: 45px !important;
}
.mb-45px {
  margin-bottom: 45px !important;
}
.ml-45px {
  margin-left: 45px !important;
}
.mx-45px {
  margin-left: 45px !important;
  margin-right: 45px !important;
}
.my-45px {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}
.p-45px {
  padding: 45px !important;
}
.pt-45px {
  padding-top: 45px !important;
}
.pr-45px {
  padding-right: 45px !important;
}
.pb-45px {
  padding-bottom: 45px !important;
}
.pl-45px {
  padding-left: 45px !important;
}
.px-45px {
  padding-left: 45px !important;
  padding-right: 45px !important;
}
.py-45px {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}
.m-50px {
  margin: 50px !important;
}
.mt-50px {
  margin-top: 50px !important;
}
.mr-50px {
  margin-right: 50px !important;
}
.mb-50px {
  margin-bottom: 50px !important;
}
.ml-50px {
  margin-left: 50px !important;
}
.mx-50px {
  margin-left: 50px !important;
  margin-right: 50px !important;
}
.my-50px {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}
.p-50px {
  padding: 50px !important;
}
.pt-50px {
  padding-top: 50px !important;
}
.pr-50px {
  padding-right: 50px !important;
}
.pb-50px {
  padding-bottom: 50px !important;
}
.pl-50px {
  padding-left: 50px !important;
}
.px-50px {
  padding-left: 50px !important;
  padding-right: 50px !important;
}
.py-50px {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.m-55px {
  margin: 55px !important;
}
.mt-55px {
  margin-top: 55px !important;
}
.mr-55px {
  margin-right: 55px !important;
}
.mb-55px {
  margin-bottom: 55px !important;
}
.ml-55px {
  margin-left: 55px !important;
}
.mx-55px {
  margin-left: 55px !important;
  margin-right: 55px !important;
}
.my-55px {
  margin-top: 55px !important;
  margin-bottom: 55px !important;
}
.p-55px {
  padding: 55px !important;
}
.pt-55px {
  padding-top: 55px !important;
}
.pr-55px {
  padding-right: 55px !important;
}
.pb-55px {
  padding-bottom: 55px !important;
}
.pl-55px {
  padding-left: 55px !important;
}
.px-55px {
  padding-left: 55px !important;
  padding-right: 55px !important;
}
.py-55px {
  padding-top: 55px !important;
  padding-bottom: 55px !important;
}
.m-60px {
  margin: 60px !important;
}
.mt-60px {
  margin-top: 60px !important;
}
.mr-60px {
  margin-right: 60px !important;
}
.mb-60px {
  margin-bottom: 60px !important;
}
.ml-60px {
  margin-left: 60px !important;
}
.mx-60px {
  margin-left: 60px !important;
  margin-right: 60px !important;
}
.my-60px {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}
.p-60px {
  padding: 60px !important;
}
.pt-60px {
  padding-top: 60px !important;
}
.pr-60px {
  padding-right: 60px !important;
}
.pb-60px {
  padding-bottom: 60px !important;
}
.pl-60px {
  padding-left: 60px !important;
}
.px-60px {
  padding-left: 60px !important;
  padding-right: 60px !important;
}
.py-60px {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}
.m-65px {
  margin: 65px !important;
}
.mt-65px {
  margin-top: 65px !important;
}
.mr-65px {
  margin-right: 65px !important;
}
.mb-65px {
  margin-bottom: 65px !important;
}
.ml-65px {
  margin-left: 65px !important;
}
.mx-65px {
  margin-left: 65px !important;
  margin-right: 65px !important;
}
.my-65px {
  margin-top: 65px !important;
  margin-bottom: 65px !important;
}
.p-65px {
  padding: 65px !important;
}
.pt-65px {
  padding-top: 65px !important;
}
.pr-65px {
  padding-right: 65px !important;
}
.pb-65px {
  padding-bottom: 65px !important;
}
.pl-65px {
  padding-left: 65px !important;
}
.px-65px {
  padding-left: 65px !important;
  padding-right: 65px !important;
}
.py-65px {
  padding-top: 65px !important;
  padding-bottom: 65px !important;
}
.m-70px {
  margin: 70px !important;
}
.mt-70px {
  margin-top: 70px !important;
}
.mr-70px {
  margin-right: 70px !important;
}
.mb-70px {
  margin-bottom: 70px !important;
}
.ml-70px {
  margin-left: 70px !important;
}
.mx-70px {
  margin-left: 70px !important;
  margin-right: 70px !important;
}
.my-70px {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}
.p-70px {
  padding: 70px !important;
}
.pt-70px {
  padding-top: 70px !important;
}
.pr-70px {
  padding-right: 70px !important;
}
.pb-70px {
  padding-bottom: 70px !important;
}
.pl-70px {
  padding-left: 70px !important;
}
.px-70px {
  padding-left: 70px !important;
  padding-right: 70px !important;
}
.py-70px {
  padding-top: 70px !important;
  padding-bottom: 70px !important;
}
.m-75px {
  margin: 75px !important;
}
.mt-75px {
  margin-top: 75px !important;
}
.mr-75px {
  margin-right: 75px !important;
}
.mb-75px {
  margin-bottom: 75px !important;
}
.ml-75px {
  margin-left: 75px !important;
}
.mx-75px {
  margin-left: 75px !important;
  margin-right: 75px !important;
}
.my-75px {
  margin-top: 75px !important;
  margin-bottom: 75px !important;
}
.p-75px {
  padding: 75px !important;
}
.pt-75px {
  padding-top: 75px !important;
}
.pr-75px {
  padding-right: 75px !important;
}
.pb-75px {
  padding-bottom: 75px !important;
}
.pl-75px {
  padding-left: 75px !important;
}
.px-75px {
  padding-left: 75px !important;
  padding-right: 75px !important;
}
.py-75px {
  padding-top: 75px !important;
  padding-bottom: 75px !important;
}
.m-80px {
  margin: 80px !important;
}
.mt-80px {
  margin-top: 80px !important;
}
.mr-80px {
  margin-right: 80px !important;
}
.mb-80px {
  margin-bottom: 80px !important;
}
.ml-80px {
  margin-left: 80px !important;
}
.mx-80px {
  margin-left: 80px !important;
  margin-right: 80px !important;
}
.my-80px {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}
.p-80px {
  padding: 80px !important;
}
.pt-80px {
  padding-top: 80px !important;
}
.pr-80px {
  padding-right: 80px !important;
}
.pb-80px {
  padding-bottom: 80px !important;
}
.pl-80px {
  padding-left: 80px !important;
}
.px-80px {
  padding-left: 80px !important;
  padding-right: 80px !important;
}
.py-80px {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}
.m-85px {
  margin: 85px !important;
}
.mt-85px {
  margin-top: 85px !important;
}
.mr-85px {
  margin-right: 85px !important;
}
.mb-85px {
  margin-bottom: 85px !important;
}
.ml-85px {
  margin-left: 85px !important;
}
.mx-85px {
  margin-left: 85px !important;
  margin-right: 85px !important;
}
.my-85px {
  margin-top: 85px !important;
  margin-bottom: 85px !important;
}
.p-85px {
  padding: 85px !important;
}
.pt-85px {
  padding-top: 85px !important;
}
.pr-85px {
  padding-right: 85px !important;
}
.pb-85px {
  padding-bottom: 85px !important;
}
.pl-85px {
  padding-left: 85px !important;
}
.px-85px {
  padding-left: 85px !important;
  padding-right: 85px !important;
}
.py-85px {
  padding-top: 85px !important;
  padding-bottom: 85px !important;
}
.m-90px {
  margin: 90px !important;
}
.mt-90px {
  margin-top: 90px !important;
}
.mr-90px {
  margin-right: 90px !important;
}
.mb-90px {
  margin-bottom: 90px !important;
}
.ml-90px {
  margin-left: 90px !important;
}
.mx-90px {
  margin-left: 90px !important;
  margin-right: 90px !important;
}
.my-90px {
  margin-top: 90px !important;
  margin-bottom: 90px !important;
}
.p-90px {
  padding: 90px !important;
}
.pt-90px {
  padding-top: 90px !important;
}
.pr-90px {
  padding-right: 90px !important;
}
.pb-90px {
  padding-bottom: 90px !important;
}
.pl-90px {
  padding-left: 90px !important;
}
.px-90px {
  padding-left: 90px !important;
  padding-right: 90px !important;
}
.py-90px {
  padding-top: 90px !important;
  padding-bottom: 90px !important;
}
.m-95px {
  margin: 95px !important;
}
.mt-95px {
  margin-top: 95px !important;
}
.mr-95px {
  margin-right: 95px !important;
}
.mb-95px {
  margin-bottom: 95px !important;
}
.ml-95px {
  margin-left: 95px !important;
}
.mx-95px {
  margin-left: 95px !important;
  margin-right: 95px !important;
}
.my-95px {
  margin-top: 95px !important;
  margin-bottom: 95px !important;
}
.p-95px {
  padding: 95px !important;
}
.pt-95px {
  padding-top: 95px !important;
}
.pr-95px {
  padding-right: 95px !important;
}
.pb-95px {
  padding-bottom: 95px !important;
}
.pl-95px {
  padding-left: 95px !important;
}
.px-95px {
  padding-left: 95px !important;
  padding-right: 95px !important;
}
.py-95px {
  padding-top: 95px !important;
  padding-bottom: 95px !important;
}
.m-100px {
  margin: 100px !important;
}
.mt-100px {
  margin-top: 100px !important;
}
.mr-100px {
  margin-right: 100px !important;
}
.mb-100px {
  margin-bottom: 100px !important;
}
.ml-100px {
  margin-left: 100px !important;
}
.mx-100px {
  margin-left: 100px !important;
  margin-right: 100px !important;
}
.my-100px {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}
.p-100px {
  padding: 100px !important;
}
.pt-100px {
  padding-top: 100px !important;
}
.pr-100px {
  padding-right: 100px !important;
}
.pb-100px {
  padding-bottom: 100px !important;
}
.pl-100px {
  padding-left: 100px !important;
}
.px-100px {
  padding-left: 100px !important;
  padding-right: 100px !important;
}
.py-100px {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}
.m-0 {
  margin: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.p-0 {
  padding: 0 !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
@media screen and (max-width: 750px) {
  .m-sp-10px {
    margin: 10px !important;
  }
  .mt-sp-10px {
    margin-top: 10px !important;
  }
  .mr-sp-10px {
    margin-right: 10px !important;
  }
  .mb-sp-10px {
    margin-bottom: 10px !important;
  }
  .ml-sp-10px {
    margin-left: 10px !important;
  }
  .mx-sp-10px {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  .my-sp-10px {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .p-sp-10px {
    padding: 10px !important;
  }
  .pt-sp-10px {
    padding-top: 10px !important;
  }
  .pr-sp-10px {
    padding-right: 10px !important;
  }
  .pb-sp-10px {
    padding-bottom: 10px !important;
  }
  .pl-sp-10px {
    padding-left: 10px !important;
  }
  .px-sp-10px {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .py-sp-10px {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}
@media screen and (max-width: 750px) {
  .m-sp-15px {
    margin: 15px !important;
  }
  .mt-sp-15px {
    margin-top: 15px !important;
  }
  .mr-sp-15px {
    margin-right: 15px !important;
  }
  .mb-sp-15px {
    margin-bottom: 15px !important;
  }
  .ml-sp-15px {
    margin-left: 15px !important;
  }
  .mx-sp-15px {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  .my-sp-15px {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }
  .p-sp-15px {
    padding: 15px !important;
  }
  .pt-sp-15px {
    padding-top: 15px !important;
  }
  .pr-sp-15px {
    padding-right: 15px !important;
  }
  .pb-sp-15px {
    padding-bottom: 15px !important;
  }
  .pl-sp-15px {
    padding-left: 15px !important;
  }
  .px-sp-15px {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .py-sp-15px {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
}
@media screen and (max-width: 750px) {
  .m-sp-20px {
    margin: 20px !important;
  }
  .mt-sp-20px {
    margin-top: 20px !important;
  }
  .mr-sp-20px {
    margin-right: 20px !important;
  }
  .mb-sp-20px {
    margin-bottom: 20px !important;
  }
  .ml-sp-20px {
    margin-left: 20px !important;
  }
  .mx-sp-20px {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  .my-sp-20px {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  .p-sp-20px {
    padding: 20px !important;
  }
  .pt-sp-20px {
    padding-top: 20px !important;
  }
  .pr-sp-20px {
    padding-right: 20px !important;
  }
  .pb-sp-20px {
    padding-bottom: 20px !important;
  }
  .pl-sp-20px {
    padding-left: 20px !important;
  }
  .px-sp-20px {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .py-sp-20px {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
}
@media screen and (max-width: 750px) {
  .m-sp-25px {
    margin: 25px !important;
  }
  .mt-sp-25px {
    margin-top: 25px !important;
  }
  .mr-sp-25px {
    margin-right: 25px !important;
  }
  .mb-sp-25px {
    margin-bottom: 25px !important;
  }
  .ml-sp-25px {
    margin-left: 25px !important;
  }
  .mx-sp-25px {
    margin-left: 25px !important;
    margin-right: 25px !important;
  }
  .my-sp-25px {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }
  .p-sp-25px {
    padding: 25px !important;
  }
  .pt-sp-25px {
    padding-top: 25px !important;
  }
  .pr-sp-25px {
    padding-right: 25px !important;
  }
  .pb-sp-25px {
    padding-bottom: 25px !important;
  }
  .pl-sp-25px {
    padding-left: 25px !important;
  }
  .px-sp-25px {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
  .py-sp-25px {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }
}
@media screen and (max-width: 750px) {
  .m-sp-30px {
    margin: 30px !important;
  }
  .mt-sp-30px {
    margin-top: 30px !important;
  }
  .mr-sp-30px {
    margin-right: 30px !important;
  }
  .mb-sp-30px {
    margin-bottom: 30px !important;
  }
  .ml-sp-30px {
    margin-left: 30px !important;
  }
  .mx-sp-30px {
    margin-left: 30px !important;
    margin-right: 30px !important;
  }
  .my-sp-30px {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
  .p-sp-30px {
    padding: 30px !important;
  }
  .pt-sp-30px {
    padding-top: 30px !important;
  }
  .pr-sp-30px {
    padding-right: 30px !important;
  }
  .pb-sp-30px {
    padding-bottom: 30px !important;
  }
  .pl-sp-30px {
    padding-left: 30px !important;
  }
  .px-sp-30px {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .py-sp-30px {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
}
@media screen and (max-width: 750px) {
  .m-sp-35px {
    margin: 35px !important;
  }
  .mt-sp-35px {
    margin-top: 35px !important;
  }
  .mr-sp-35px {
    margin-right: 35px !important;
  }
  .mb-sp-35px {
    margin-bottom: 35px !important;
  }
  .ml-sp-35px {
    margin-left: 35px !important;
  }
  .mx-sp-35px {
    margin-left: 35px !important;
    margin-right: 35px !important;
  }
  .my-sp-35px {
    margin-top: 35px !important;
    margin-bottom: 35px !important;
  }
  .p-sp-35px {
    padding: 35px !important;
  }
  .pt-sp-35px {
    padding-top: 35px !important;
  }
  .pr-sp-35px {
    padding-right: 35px !important;
  }
  .pb-sp-35px {
    padding-bottom: 35px !important;
  }
  .pl-sp-35px {
    padding-left: 35px !important;
  }
  .px-sp-35px {
    padding-left: 35px !important;
    padding-right: 35px !important;
  }
  .py-sp-35px {
    padding-top: 35px !important;
    padding-bottom: 35px !important;
  }
}
@media screen and (max-width: 750px) {
  .m-sp-40px {
    margin: 40px !important;
  }
  .mt-sp-40px {
    margin-top: 40px !important;
  }
  .mr-sp-40px {
    margin-right: 40px !important;
  }
  .mb-sp-40px {
    margin-bottom: 40px !important;
  }
  .ml-sp-40px {
    margin-left: 40px !important;
  }
  .mx-sp-40px {
    margin-left: 40px !important;
    margin-right: 40px !important;
  }
  .my-sp-40px {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }
  .p-sp-40px {
    padding: 40px !important;
  }
  .pt-sp-40px {
    padding-top: 40px !important;
  }
  .pr-sp-40px {
    padding-right: 40px !important;
  }
  .pb-sp-40px {
    padding-bottom: 40px !important;
  }
  .pl-sp-40px {
    padding-left: 40px !important;
  }
  .px-sp-40px {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  .py-sp-40px {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
}
@media screen and (max-width: 750px) {
  .m-sp-45px {
    margin: 45px !important;
  }
  .mt-sp-45px {
    margin-top: 45px !important;
  }
  .mr-sp-45px {
    margin-right: 45px !important;
  }
  .mb-sp-45px {
    margin-bottom: 45px !important;
  }
  .ml-sp-45px {
    margin-left: 45px !important;
  }
  .mx-sp-45px {
    margin-left: 45px !important;
    margin-right: 45px !important;
  }
  .my-sp-45px {
    margin-top: 45px !important;
    margin-bottom: 45px !important;
  }
  .p-sp-45px {
    padding: 45px !important;
  }
  .pt-sp-45px {
    padding-top: 45px !important;
  }
  .pr-sp-45px {
    padding-right: 45px !important;
  }
  .pb-sp-45px {
    padding-bottom: 45px !important;
  }
  .pl-sp-45px {
    padding-left: 45px !important;
  }
  .px-sp-45px {
    padding-left: 45px !important;
    padding-right: 45px !important;
  }
  .py-sp-45px {
    padding-top: 45px !important;
    padding-bottom: 45px !important;
  }
}
@media screen and (max-width: 750px) {
  .m-sp-50px {
    margin: 50px !important;
  }
  .mt-sp-50px {
    margin-top: 50px !important;
  }
  .mr-sp-50px {
    margin-right: 50px !important;
  }
  .mb-sp-50px {
    margin-bottom: 50px !important;
  }
  .ml-sp-50px {
    margin-left: 50px !important;
  }
  .mx-sp-50px {
    margin-left: 50px !important;
    margin-right: 50px !important;
  }
  .my-sp-50px {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
  }
  .p-sp-50px {
    padding: 50px !important;
  }
  .pt-sp-50px {
    padding-top: 50px !important;
  }
  .pr-sp-50px {
    padding-right: 50px !important;
  }
  .pb-sp-50px {
    padding-bottom: 50px !important;
  }
  .pl-sp-50px {
    padding-left: 50px !important;
  }
  .px-sp-50px {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
  .py-sp-50px {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
}
@media screen and (max-width: 750px) {
  .m-sp-55px {
    margin: 55px !important;
  }
  .mt-sp-55px {
    margin-top: 55px !important;
  }
  .mr-sp-55px {
    margin-right: 55px !important;
  }
  .mb-sp-55px {
    margin-bottom: 55px !important;
  }
  .ml-sp-55px {
    margin-left: 55px !important;
  }
  .mx-sp-55px {
    margin-left: 55px !important;
    margin-right: 55px !important;
  }
  .my-sp-55px {
    margin-top: 55px !important;
    margin-bottom: 55px !important;
  }
  .p-sp-55px {
    padding: 55px !important;
  }
  .pt-sp-55px {
    padding-top: 55px !important;
  }
  .pr-sp-55px {
    padding-right: 55px !important;
  }
  .pb-sp-55px {
    padding-bottom: 55px !important;
  }
  .pl-sp-55px {
    padding-left: 55px !important;
  }
  .px-sp-55px {
    padding-left: 55px !important;
    padding-right: 55px !important;
  }
  .py-sp-55px {
    padding-top: 55px !important;
    padding-bottom: 55px !important;
  }
}
@media screen and (max-width: 750px) {
  .m-sp-60px {
    margin: 60px !important;
  }
  .mt-sp-60px {
    margin-top: 60px !important;
  }
  .mr-sp-60px {
    margin-right: 60px !important;
  }
  .mb-sp-60px {
    margin-bottom: 60px !important;
  }
  .ml-sp-60px {
    margin-left: 60px !important;
  }
  .mx-sp-60px {
    margin-left: 60px !important;
    margin-right: 60px !important;
  }
  .my-sp-60px {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
  }
  .p-sp-60px {
    padding: 60px !important;
  }
  .pt-sp-60px {
    padding-top: 60px !important;
  }
  .pr-sp-60px {
    padding-right: 60px !important;
  }
  .pb-sp-60px {
    padding-bottom: 60px !important;
  }
  .pl-sp-60px {
    padding-left: 60px !important;
  }
  .px-sp-60px {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
  .py-sp-60px {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
}
@media screen and (max-width: 750px) {
  .m-sp-65px {
    margin: 65px !important;
  }
  .mt-sp-65px {
    margin-top: 65px !important;
  }
  .mr-sp-65px {
    margin-right: 65px !important;
  }
  .mb-sp-65px {
    margin-bottom: 65px !important;
  }
  .ml-sp-65px {
    margin-left: 65px !important;
  }
  .mx-sp-65px {
    margin-left: 65px !important;
    margin-right: 65px !important;
  }
  .my-sp-65px {
    margin-top: 65px !important;
    margin-bottom: 65px !important;
  }
  .p-sp-65px {
    padding: 65px !important;
  }
  .pt-sp-65px {
    padding-top: 65px !important;
  }
  .pr-sp-65px {
    padding-right: 65px !important;
  }
  .pb-sp-65px {
    padding-bottom: 65px !important;
  }
  .pl-sp-65px {
    padding-left: 65px !important;
  }
  .px-sp-65px {
    padding-left: 65px !important;
    padding-right: 65px !important;
  }
  .py-sp-65px {
    padding-top: 65px !important;
    padding-bottom: 65px !important;
  }
}
@media screen and (max-width: 750px) {
  .m-sp-70px {
    margin: 70px !important;
  }
  .mt-sp-70px {
    margin-top: 70px !important;
  }
  .mr-sp-70px {
    margin-right: 70px !important;
  }
  .mb-sp-70px {
    margin-bottom: 70px !important;
  }
  .ml-sp-70px {
    margin-left: 70px !important;
  }
  .mx-sp-70px {
    margin-left: 70px !important;
    margin-right: 70px !important;
  }
  .my-sp-70px {
    margin-top: 70px !important;
    margin-bottom: 70px !important;
  }
  .p-sp-70px {
    padding: 70px !important;
  }
  .pt-sp-70px {
    padding-top: 70px !important;
  }
  .pr-sp-70px {
    padding-right: 70px !important;
  }
  .pb-sp-70px {
    padding-bottom: 70px !important;
  }
  .pl-sp-70px {
    padding-left: 70px !important;
  }
  .px-sp-70px {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
  .py-sp-70px {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
  }
}
@media screen and (max-width: 750px) {
  .m-sp-75px {
    margin: 75px !important;
  }
  .mt-sp-75px {
    margin-top: 75px !important;
  }
  .mr-sp-75px {
    margin-right: 75px !important;
  }
  .mb-sp-75px {
    margin-bottom: 75px !important;
  }
  .ml-sp-75px {
    margin-left: 75px !important;
  }
  .mx-sp-75px {
    margin-left: 75px !important;
    margin-right: 75px !important;
  }
  .my-sp-75px {
    margin-top: 75px !important;
    margin-bottom: 75px !important;
  }
  .p-sp-75px {
    padding: 75px !important;
  }
  .pt-sp-75px {
    padding-top: 75px !important;
  }
  .pr-sp-75px {
    padding-right: 75px !important;
  }
  .pb-sp-75px {
    padding-bottom: 75px !important;
  }
  .pl-sp-75px {
    padding-left: 75px !important;
  }
  .px-sp-75px {
    padding-left: 75px !important;
    padding-right: 75px !important;
  }
  .py-sp-75px {
    padding-top: 75px !important;
    padding-bottom: 75px !important;
  }
}
@media screen and (max-width: 750px) {
  .m-sp-80px {
    margin: 80px !important;
  }
  .mt-sp-80px {
    margin-top: 80px !important;
  }
  .mr-sp-80px {
    margin-right: 80px !important;
  }
  .mb-sp-80px {
    margin-bottom: 80px !important;
  }
  .ml-sp-80px {
    margin-left: 80px !important;
  }
  .mx-sp-80px {
    margin-left: 80px !important;
    margin-right: 80px !important;
  }
  .my-sp-80px {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
  }
  .p-sp-80px {
    padding: 80px !important;
  }
  .pt-sp-80px {
    padding-top: 80px !important;
  }
  .pr-sp-80px {
    padding-right: 80px !important;
  }
  .pb-sp-80px {
    padding-bottom: 80px !important;
  }
  .pl-sp-80px {
    padding-left: 80px !important;
  }
  .px-sp-80px {
    padding-left: 80px !important;
    padding-right: 80px !important;
  }
  .py-sp-80px {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
  }
}
@media screen and (max-width: 750px) {
  .m-sp-85px {
    margin: 85px !important;
  }
  .mt-sp-85px {
    margin-top: 85px !important;
  }
  .mr-sp-85px {
    margin-right: 85px !important;
  }
  .mb-sp-85px {
    margin-bottom: 85px !important;
  }
  .ml-sp-85px {
    margin-left: 85px !important;
  }
  .mx-sp-85px {
    margin-left: 85px !important;
    margin-right: 85px !important;
  }
  .my-sp-85px {
    margin-top: 85px !important;
    margin-bottom: 85px !important;
  }
  .p-sp-85px {
    padding: 85px !important;
  }
  .pt-sp-85px {
    padding-top: 85px !important;
  }
  .pr-sp-85px {
    padding-right: 85px !important;
  }
  .pb-sp-85px {
    padding-bottom: 85px !important;
  }
  .pl-sp-85px {
    padding-left: 85px !important;
  }
  .px-sp-85px {
    padding-left: 85px !important;
    padding-right: 85px !important;
  }
  .py-sp-85px {
    padding-top: 85px !important;
    padding-bottom: 85px !important;
  }
}
@media screen and (max-width: 750px) {
  .m-sp-90px {
    margin: 90px !important;
  }
  .mt-sp-90px {
    margin-top: 90px !important;
  }
  .mr-sp-90px {
    margin-right: 90px !important;
  }
  .mb-sp-90px {
    margin-bottom: 90px !important;
  }
  .ml-sp-90px {
    margin-left: 90px !important;
  }
  .mx-sp-90px {
    margin-left: 90px !important;
    margin-right: 90px !important;
  }
  .my-sp-90px {
    margin-top: 90px !important;
    margin-bottom: 90px !important;
  }
  .p-sp-90px {
    padding: 90px !important;
  }
  .pt-sp-90px {
    padding-top: 90px !important;
  }
  .pr-sp-90px {
    padding-right: 90px !important;
  }
  .pb-sp-90px {
    padding-bottom: 90px !important;
  }
  .pl-sp-90px {
    padding-left: 90px !important;
  }
  .px-sp-90px {
    padding-left: 90px !important;
    padding-right: 90px !important;
  }
  .py-sp-90px {
    padding-top: 90px !important;
    padding-bottom: 90px !important;
  }
}
@media screen and (max-width: 750px) {
  .m-sp-95px {
    margin: 95px !important;
  }
  .mt-sp-95px {
    margin-top: 95px !important;
  }
  .mr-sp-95px {
    margin-right: 95px !important;
  }
  .mb-sp-95px {
    margin-bottom: 95px !important;
  }
  .ml-sp-95px {
    margin-left: 95px !important;
  }
  .mx-sp-95px {
    margin-left: 95px !important;
    margin-right: 95px !important;
  }
  .my-sp-95px {
    margin-top: 95px !important;
    margin-bottom: 95px !important;
  }
  .p-sp-95px {
    padding: 95px !important;
  }
  .pt-sp-95px {
    padding-top: 95px !important;
  }
  .pr-sp-95px {
    padding-right: 95px !important;
  }
  .pb-sp-95px {
    padding-bottom: 95px !important;
  }
  .pl-sp-95px {
    padding-left: 95px !important;
  }
  .px-sp-95px {
    padding-left: 95px !important;
    padding-right: 95px !important;
  }
  .py-sp-95px {
    padding-top: 95px !important;
    padding-bottom: 95px !important;
  }
}
@media screen and (max-width: 750px) {
  .m-sp-100px {
    margin: 100px !important;
  }
  .mt-sp-100px {
    margin-top: 100px !important;
  }
  .mr-sp-100px {
    margin-right: 100px !important;
  }
  .mb-sp-100px {
    margin-bottom: 100px !important;
  }
  .ml-sp-100px {
    margin-left: 100px !important;
  }
  .mx-sp-100px {
    margin-left: 100px !important;
    margin-right: 100px !important;
  }
  .my-sp-100px {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
  }
  .p-sp-100px {
    padding: 100px !important;
  }
  .pt-sp-100px {
    padding-top: 100px !important;
  }
  .pr-sp-100px {
    padding-right: 100px !important;
  }
  .pb-sp-100px {
    padding-bottom: 100px !important;
  }
  .pl-sp-100px {
    padding-left: 100px !important;
  }
  .px-sp-100px {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
  .py-sp-100px {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
  }
}
@media screen and (max-width: 750px) {
  .m-sp-0 {
    margin: 0 !important;
  }
  .mt-sp-0 {
    margin-top: 0 !important;
  }
  .mr-sp-0 {
    margin-right: 0 !important;
  }
  .mb-sp-0 {
    margin-bottom: 0 !important;
  }
  .ml-sp-0 {
    margin-left: 0 !important;
  }
  .mx-sp-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .my-sp-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .p-sp-0 {
    padding: 0 !important;
  }
  .pt-sp-0 {
    padding-top: 0 !important;
  }
  .pr-sp-0 {
    padding-right: 0 !important;
  }
  .pb-sp-0 {
    padding-bottom: 0 !important;
  }
  .pl-sp-0 {
    padding-left: 0 !important;
  }
  .px-sp-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .py-sp-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}
.w-10p {
  width: 10% !important;
}
.w-15p {
  width: 15% !important;
}
.w-20p {
  width: 20% !important;
}
.w-25p {
  width: 25% !important;
}
.w-30p {
  width: 30% !important;
}
.w-35p {
  width: 35% !important;
}
.w-40p {
  width: 40% !important;
}
.w-45p {
  width: 45% !important;
}
.w-50p {
  width: 50% !important;
}
.w-55p {
  width: 55% !important;
}
.w-60p {
  width: 60% !important;
}
.w-65p {
  width: 65% !important;
}
.w-70p {
  width: 70% !important;
}
.w-75p {
  width: 75% !important;
}
.w-80p {
  width: 80% !important;
}
.w-85p {
  width: 85% !important;
}
.w-90p {
  width: 90% !important;
}
.w-95p {
  width: 95% !important;
}
.w-100p {
  width: 100% !important;
}
@media screen and (max-width: 750px) {
  .w-sp-10p {
    width: 10% !important;
  }
}
@media screen and (max-width: 750px) {
  .w-sp-15p {
    width: 15% !important;
  }
}
@media screen and (max-width: 750px) {
  .w-sp-20p {
    width: 20% !important;
  }
}
@media screen and (max-width: 750px) {
  .w-sp-25p {
    width: 25% !important;
  }
}
@media screen and (max-width: 750px) {
  .w-sp-30p {
    width: 30% !important;
  }
}
@media screen and (max-width: 750px) {
  .w-sp-35p {
    width: 35% !important;
  }
}
@media screen and (max-width: 750px) {
  .w-sp-40p {
    width: 40% !important;
  }
}
@media screen and (max-width: 750px) {
  .w-sp-45p {
    width: 45% !important;
  }
}
@media screen and (max-width: 750px) {
  .w-sp-50p {
    width: 50% !important;
  }
}
@media screen and (max-width: 750px) {
  .w-sp-55p {
    width: 55% !important;
  }
}
@media screen and (max-width: 750px) {
  .w-sp-60p {
    width: 60% !important;
  }
}
@media screen and (max-width: 750px) {
  .w-sp-65p {
    width: 65% !important;
  }
}
@media screen and (max-width: 750px) {
  .w-sp-70p {
    width: 70% !important;
  }
}
@media screen and (max-width: 750px) {
  .w-sp-75p {
    width: 75% !important;
  }
}
@media screen and (max-width: 750px) {
  .w-sp-80p {
    width: 80% !important;
  }
}
@media screen and (max-width: 750px) {
  .w-sp-85p {
    width: 85% !important;
  }
}
@media screen and (max-width: 750px) {
  .w-sp-90p {
    width: 90% !important;
  }
}
@media screen and (max-width: 750px) {
  .w-sp-95p {
    width: 95% !important;
  }
}
@media screen and (max-width: 750px) {
  .w-sp-100p {
    width: 100% !important;
  }
}

